<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"
      ><ion-back-button defaultHref="/"></ion-back-button
    ></ion-buttons>
    <ion-title>Empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="" [fullscreen]="true">
  <ion-list>
    <ion-item-sliding> </ion-item-sliding>
    <ion-item
      *ngFor="let employee of employeeService.employees"
      [routerLink]="[employee._id]"
    >
      <ion-label>{{employee.name}}</ion-label>
      <p>{{employee.position}}</p>
    </ion-item>
  </ion-list>
</ion-content>
